<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelors in Mathematics and Computing Engineering</h1>
            <span>Delhi Technological University</span>
            <span>
                <address>Delhi, India</address><time>2016-2020</time>
            </span>
        </header>
        <p>
            <em>GGPA of 8.92.<br>Courseworks: Data
                Structures and Algorithms, Data Warehouse & Data Mining,
                Swarm Intelligence, Computer Vision, Operating Systems, Database
                Management System, Object-Oriented Programming</em>
        </p>
    </article>
    <article>
        <header>
            <h1>CBSE Class XII and X</h1>
            <span>Delhi Public School RK Puram</span>
            <span>
                <address>Delhi, India</address><time>till 2016</time>
            </span>
        </header>
        <p>
            <em>Class XII - 97.0% | Class X - 10.0 CGPA</em>
        </p>
    </article>
</section>