<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Application Deeloper</h1>
            <span>
                <address>Citicorp, India</address><time>2020 to Present</time>
            </span>
        </header>
        <p>RPA Test Harness Suite:  Designed a centralized web application to trigger bulk tasks simultaneously, fetch their status,and audit logs.  Enabled single-click migration testing and detected failed processes.  Saved+420 man-hours yearly.
        <br>APP360:  Built a scalable end to end web-application to present a360-degreeview of Citi applications.  Built dashboardsfor server utilization, OS/HW level details, cost analysis, etc.
        <br>BotCloud:  Engineered algorithms to merge bot machines based on their historical usage.  Saved$6000per merged bot.
        <br>Selenium Automation Framework:  Developed and designed a baseline framework for triggering selenium scripts in acontrolled environment to monitor the lifecycle of any machine </p>
    </article>
    <article>
        <header>
            <h1>Graduate Researcher</h1>
            <span>
                <address>Delhi Technological University, India</address><time>2021-Present</time>
            </span>
        </header>
        <p>Worked under the mentorship of Professor Dr. Ruchika Malhotra.
            Extracted tweets for 4 time periods (Onset of covid and first wave, vaccination development, vaccinations start, secondwave).  Developed a novel unsupervised sentiment analysis pipeline, analyzed with regional confirmed covid cases.◦Work under review in IEEE International Conference on Bioinformatics and Biomedicine, 2021
            </p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Researcher</h1>
            <span>
                <address>Delhi Technological University, India</address><time>2019-2020</time>
            </span>
        </header>
        <p>Worked under the mentorship of Professor Dr. Dhirendra Kumar.
            Enhancement and Comparative Analysis of Environmental Sound Classification Using MFCC and Empirical ModeDecomposition  <br> <a href="https://doi.org/10.1007/978-981-15-7078-021" target="_blank"><i style="color:#27A822;">Research work</i></a> was accepted in International Conference on
            Information and Communication Technology for Intelligent Systems
            2020, and was published in Springer Nature SIST Series.<br>
            Used MLPs and CNNs to obtain the highest classification accuracy on the Urban Sound 8K Dataset.  Research workaccepted in the International Journal of Advanced Science and Technology
            </p>
    </article>
    <article>
        <header>
            <h1>Technology Analyst Intern</h1>
            <span>
                <address>Citicorp, India</address><time>2019</time>
            </span>
        </header>
        <p>Automated10+reconciliation and matching projects.  Reduced operational time by50 hours per week</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant, Competitive Programming Course</h1>
            <span>
                <address>Coding Ninjas, India</address><time>2017-2018</time>
            </span>
        </header>
        <p>Worked on designing and developing of a professional sports social
            networking android application using Java, Android SDK, XML.</p>
    </article>
</section>