<section id="projects">
	<div class="container">
		<h3><strong>Projects</h3></strong>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong>
					<a
					href=""
					target="_blank">Covid 19 Tweets Sentiment Analysis on different Periods of Lockdown 
					(May 2021 - Present)
					</a></strong></h5>
					<h6>
						<p  align="justify">Created a dataset of Indian tweets, divided on the basis of 4 states and 4 time periods since the onset of covid in India
							Developed a novel unsupervised sentiment analysis pipeline, tested on supervised trained machine learning models
							Performed in-depth visual analysis with the number of confirmed covid cases in the states
							
						</p>
					</h6>
					<h6><strong>Technologies:</strong>Natural Language Processing, Python</h6>
					<br>
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
					href=""
					target="_blank">Natural Language Processing Data Scrubbing Service</a></strong></h5>
					<h6>
						<p align="justify">This project's goal was to built a service to identify and scrub the relevant sentences of
							the
							document against a list of entities. The framework implemented coreference resolution and NER (Named Entity Recognition) to remove unwanted texts. The service was built by implementing Named Entity
							Recognition and
							Coreference Resolution.
						</p>
					</h6>
					<h6><strong>Technologies:</strong>Natural Language Processing, Python, Tensorflow</h6>
					<br>
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
					href="" target="_blank">Fixed Income Portfolio Management System 
					(Sept 2020)
					</a></strong></h5>
					<h6>
						<p align="justify">Web application to analyze and report the holdings and profit and
							losses of a high net worth client over the period of one year
							Was the team lead, the project was selected amongst the top 3 amongst 20 projects
							TECH STACK: Angular, SpringBoot, MySQL
							
						</p>
					</h6>
					<h6><strong>Technologies:</strong>Angular, Springboot, Java, MySQL</h6>
					<br>
				<h5><i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a
					href="" target="_blank">Treatment Analysing Mortality Predictor (GE Hack) (Jan 2020)
				</a></strong></h5>
					<h6>
						<p  align="justify">TAMP was a web application-based disease predictor framework that employed machine learning techniques on a labeled MIMIC III dataset, to give a prediction score of about the diseases which might follow from the inputted symptoms, along with predicting the mortality of the patients from their ICU vitals.
							The user could input up to 5 symptoms along with demographic details. The framework showed exceptional accuracy of 94% for the Random Forest algorithm.							
						</p>
					</h6>
					<h6><strong>Technologies:</strong>HTML, CSS, MySQL, PHP, Machine Learning</h6>
					<br>
					<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
						href="" target="_blank">Microsoft- MMI Automata</a></strong></h5>
						<h6>
							<p  align="justify">Microsoft- MapMyIndia Automata is an automation pipeline that uses NLP and Computer Vision to automate the task of adding a location or reporting an incident on the map across India. This information is crowdsourced in the form of text and images, and the automata verify information using text processing and leveraging cloud vision APIs. The algorithm also implements a timestamp algorithm and geotagging to check the freshness of the image. This framework achieved the operational efficiency of multiple hours to seconds, while totally eliminating the human intervention which currently persists 
							</p>
						</h6>
						<h6><strong>Technologies:</strong> Natural Language Processing, Computer Vision, Python, SQL</h6>
						<br>
						<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
							href="" target="_blank">Urban Sound Classification using Deep Learning 
							(Jan 2020 - May 2020)
							</a></strong></h5>
							<h6>
								<p  align="justify">- Furnished a novel methodology that uses Multi-Layer Perceptrons and Convolutional Neural Network to obtain the highest classification accuracy on the Urban Sound 8K Dataset.
									- Research work was accepted in the International Journal of
									Advanced Science and Technology.
									</p>
							</h6>
							<h6><strong>Technologies:</strong> Deep Learning, TensorFlow, Python</h6>
							<br>
							<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
								href="" target="_blank">Environmental Sound Classification using MFCC & EMD 
								(Aug 2019- Feb 2020)
								</a></strong></h5>
								<h6>
									<p  align="justify">Proposed a novel feature extraction technique using Mel Filters
										and Empirical Mode Decomposition on audio signals
										Provided a comparative analysis of various supervised classification
										techniques.
										Research Work accepted in the Proceedings of the International
										Conference on Information and Communication Technology for
										Intelligent Systems, powered by Springer Nature ( DOI:
										https://doi.org/10.1007/978-981-15-7078-0_21)</p>
								</h6>
								<h6><strong>Technologies:</strong> Machine Learning, Signal Processing, Empirical Mode Decomposition, Python</h6>
								<br>	
			</div>
		</div>
	</div>
</section>